@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    font-family: Inter, sans-serif;
    font-weight: 500;
  }

  body {
    margin: 0;
    font-size: 1.5rem;
    line-height: 2;
    @apply bg-violet-600 text-orange-50;
  }
}
